table{
    border-collapse: collapse;
}
tr,
th,
td {
    border: none;
}
.tabelku{
    width: 500px;
}

.content{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    border: none;
    background-color: rgb(229, 255, 0);
    border-radius: 20px;
    padding: 5px 10px;
    font-family: sans-serif;
    color: darkmagenta;
}

button:hover{
    opacity:0.3;
    background-color: rgb(0, 60, 255);
    color: rgb(229, 255, 0);
}